/* General font styling */
html {
    
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    place-items: center;
    font-family: anjalioldlipi;
}

.landingPageContent {
    background-color: turquoise;
}

#tag {
    text-align: center;
    color: white;
    padding-top: 200px;
    font-size: x-large;
}

.landingPage {
    background-image: url("images/landingPage.png");
    width: 1000px;
    height: 600px;
}

.navigation {
display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
}

#logo {
    text-align: center;
    margin-top: 45px;
}

#log {
    text-align: right;
}

ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
      }
      
      li {
        float: left;
        border-right:1px solid #bbb;
      }
      
      li:last-child {
        border-right: none;
      }
      
      li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #f8f8f8;
      }
      
      .active {
        background-color: #04AA6D;
        text-align: right;
}

#playButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #0e8157; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: white;
    
  }

  #playButton:hover {
    background-color: #849292; /* Green */
    color: white;
  }

  #playButton a {
    text-decoration: none;
    color: white;
  }
  
  .playButton {
    text-align: center;
    padding-top: 50px;
    border-radius: 20%;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .feature {
    margin-right: 20px;
    margin-left: 20px;
  }

  .feature {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    box-shadow: 10px 10px  grey;
    animation: bounce 1s infinite;
    
  }

  .feature:hover {
    animation: none;
  }

  #text1 {
    text-align: right;
  }

  #aboutApp {
    margin: 50px 50px 50px 50px;
    text-align: justify;
  }

  .footer {
    font-size: small;
    margin-top: 20px;
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .footer a {
    text-decoration: none;
  }

  #socials {
    text-align: right;
    margin-right: 10px;
  }

  #declarations {
    margin-left: 10px;
  }

/* Heading section styling */
.heading {
    background-color: black;
    text-align: center;
    box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.9);
}

/* Logo styling */
#logo {
    padding-top: 5px;
    width: 100%;
}

/* Tagline styling */
#tagLine {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: white;
    margin-top:-15px ;
}

.playerAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
}

.playerOne{
    display: grid;
    place-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.controlButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    margin: 10px 0px 10px 0px;
}

.loginLogoutButton {
    width: 100%;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #0e8157; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: white;
}

.challengerMatchButton {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.countdownTimer {
    width: 50%;
    height: 100%;
    background-color: lightskyblue;
}

/* Main content area styling */
.actionArea {
    display: grid;
    grid-template-columns: 40% 1% 59%;
    text-align: center;
}

/* User action area styling */
#userActionArea {
    display: grid;
    place-items: center;
}

/* Text output styling */
#textOutput {
    width: 98%;
    height: 100%;
    border-style: ridge;
    border-color: rgb(36, 14, 14); 
    margin: 20px;
    background-color: #181a18;
    box-shadow: 3px 3px 5px #000, -3px -3px 5px #fff;
    color: white;
}

/* CSS */
#selectOutput {
    display: none;
    overflow: auto;
}

#selectOutput.visible {
    display: block;
}

.challenge-popup {
    position: fixed;
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Placeholder text alignment */
input::placeholder {
    text-align: center;
}

/* List styling */
ul, li {
    margin: 0;
    padding: 0;
}

/* Title styling */
#title {
    font-size: 24px;
    font-weight: 300;
}

/* Drop button styling */
.dropBtn {
    width: 100px;
    padding: 0px 0px; 
    margin-bottom: 5px;
}

/* Dropdown styling */
.droDdown {
    display: flex;
    flex-direction: column;
}

.droDdown select {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Get questions button styling */
#getQuestionsButton {
    width: 318px;
    height: 50px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #0e8157; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: white;
}

/* Filters styling */
#filters {
    display: block;
    justify-content: space-between;
}

/* Filter selection styling */
.filterSelection {
    margin-bottom: 5px;
    font-size: 16px;
}

/* Menu buttons styling */
.menuButtons {
    margin-top: 40px; 
}

/* Questions and responses styling */
.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

/* Filters table styling */
table {
    width: 99%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid rgb(110, 105, 105);
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: white;
}
